/*
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
}
*/

a:hover {
    color: #e20202;

}

#header {
background-image: url(./img/hornopizza.jpg);
height: 400px;
background-position: center bottom;
background-repeat: no-repeat;
background-size:cover;
}

.header_titulo {
    color:white;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.514);
    padding-bottom: 20px;    
}

.header_logo {
    width: 50px;
    height: auto;
    display: flex;
    justify-content: center;
    width: auto;
    padding-top: 25px;
}

.header_menu {
    text-align: center;
    font-size: 24px;
    padding-top: 40px;
}

a {
    color: white;
    text-decoration: none;
}

.header_menu ul li {
    border: 1px solid none;
    padding: 5px;
    margin: 0 10px;
    list-style: none;
    display: inline; 
    text-decoration: none;   
}

/* hasta aca el css del head */

p {
    color: white;
}

h2 {
    padding: 15px;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: 'Cormorant Infant', serif;
    letter-spacing: 5px;
    text-align: center;
    border: inset;
}

@keyframes efecto {
    0% {
        color: white;
        font-size: auto;
    }
    100% {
        color: black;
        font-size: 18px;
    }
}

.tituloh2 {
    animation-name: efecto;
    animation-iteration-count: initial;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-timing-function:linear;
}

.tituloh2 {
    background-color: black;
    color: white;
    background-image: linear-gradient(to left, red,rgb(187, 187, 20));
}

#video_home {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 60px;
    flex-direction: row;
}

#video_home .btnPedir {
    font-size: 50px;
    color: white;
    background-color: none;
    border: 5px solid white;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    bottom: -250px;
    nav-left: 100px;
    width: 300px;
    height: auto;
    transition: width 3s;
    text-align: center;
}


#video_home .btnPedir:hover {
    width: 400px;
    height: auto;
    background-color: rgb(216, 77, 22);
    text-align: center;
}


.footerh3 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    background-color: black;
    padding: 10px;
    margin-top: 0%;
    margin-bottom: 0%;
}

footer .footerMapa {
    border: black 4px solid;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    }

footer .footerMapa .facebook {
    width: 50px;
    height: auto;
}

.facebookCaja {
    background-color: white;
    padding: 10px 10px 10px 10px;
    border: 55px;
    border-radius: 100%;
}

.mapa {
    width: 900px;
    height: 250px;    
}

.instagram {
    width: 50px; 
    height: auto;
}

.instagramCaja {
    background-color: white;
    padding: 10px 10px 10px 10px;
    border: 55px;
    border-radius: 100%;
}

.footerRedes {
    border: white 8px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    color: black;
}

.footerRedes p {
    color: black;
}

.iconMap {
    width: 50px;
    height: auto;
    display: flex;
}

.iconEmail {
    width: 50px;
    height: auto;
}

.iconTel {
    width: 50px;
    height: auto; 
}

#consultas {
    text-align: center;
    padding-top: 50px;
    display: inline;
}

h3 {
    padding: 15px;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: black;
    color: white;
    font-family: 'Cormorant Infant', serif;
    letter-spacing: 5px;
    text-align: center;
}


legend {
        background-color: white;
        color: black;
        font-family: 'Cormorant Infant', serif;
        text-align: center; 
}

.formulario {
    align-items: center;
    font-size: 23px;
    padding-top: 10px 15px 15px 15px;
    justify-content: start;
}

label {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}


/* Hasta acá el header y footer */
/* Desde acá seccion NOSOTROS */


.sectionNos1 {
    display: flex;
}
.sectionNos2 {
    display: flex;
}

.txtNos1 {
    padding-top: 30px;    
    text-align: center;
    font-size: 20px;
    font-family: 'Cormorant Infant', serif;
    padding-left: 100px;
    padding-right: 100px;
    color: white; 
}

.imgNos1 {
    height: 300px;
    width: auto;
    padding-right: 150px;
    display: flex;
    justify-content: center;
    position: relative;
}

.imgNos2 {
    height: 258px;
    width: auto;
    padding-left: 250px;
    display: flex;
    justify-content: center;
    position: relative;
}

.txtNos2 {   
    text-align: center;
    font-size: 20px;
    font-family: 'Cormorant Infant', serif;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    padding-top: 20px;
}


/* HASTA acá seccion NOSOTROS */
/* Desde acá seccion MENÚ */

section {
    background-color: rgb(24, 23, 23);
    padding-top: 40px;
    text-align: center;
}

.btn_pizza {
    font-size: 10px;
    border-radius: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.pizzastxt {
    position: absolute;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
    color: white;
    left: 10px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn_cantidad {
    margin-bottom: 55px;
}


/* Desde acá seccion SUCURSALES */


.Mapas_sucursales {
    background-color: black;
    width: auto;
    height: 100%;
    padding-right: px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 25%;
    display: flex;
}

h4 {
    color: white;
    padding-left: 25px;
}

.Mapas_Sucursales_p {
    color: white;
}

